# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
strategy-simulator/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
strategy-simulator/build
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

generated/rf_model.pkl
generated/lr_model.pkl
generated/gb_model.pkl
generated/xgb_model.pkl
generated/lgb_model.pkl
/__pycache__

strategy-simulator/package-lock.json